@import "tailwindcss";

@theme {
  --font-magilo: "Magilo", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Magilo";
  src: url("./assets/fonts/magilio/Magilio DEMO.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

body {
  font-family: var(--font-montserrat);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.5s ease-out forwards;
}
